/* Osnovni stilovi (desktop) */
.container {
  display: flex; /* Koristi Flexbox za raspored elemenata */
  align-items: center; /* Poravnava elemente vertikalno */
}

.image {
  flex: 1; /* Daje ovoj sekciji fleksibilnost da zauzima više prostora */
}

.image img {
  width: 100%; /* Slika će zauzeti punu širinu roditeljskog elementa */
  height: auto; /* Održava proporcije slike */
}

.text {
  flex: 1; /* Takođe daje ovoj sekciji fleksibilnost */
  padding-left: 20px; /* Razmak između slike i teksta */
}

.text h2 {
  text-align: justify;
  margin-right: 15px;
  color: #000; /* Neon narandžasta boja */
  text-shadow: 0 0 5px rgba(190, 83, 0, 0.8), 0 0 10px rgba(255, 111, 0, 0.5); /* Efekt sjaja */
}

.text h1 {
  text-align: center;
  color: #000; /* Neon narandžasta boja */
  text-shadow: 0 0 5px rgba(190, 83, 0, 0.8), 0 0 10px rgba(255, 111, 0, 0.5); /* Efekt sjaja */
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #ff4500;
  font-family: "Nosifer", cursive;
}

/* Osnovni stilovi za mobilne uređaje */
.container {
  flex-direction: column; /* Postavlja elemente u kolonu na mobilnim uređajima */
  padding: 10px; /* Dodaje malo paddinga */
}

.image {
  flex: none; /* Onemogućava fleksibilnost za mobilne uređaje */
  width: 100%; /* Slika će zauzeti punu širinu roditeljskog elementa */
}

.text {
  flex: none; /* Onemogućava fleksibilnost za mobilne uređaje */
  width: 100%; /* Težimo punoj širini */
  padding: 10px 0; /* Dodaje padding za razmak između slike i teksta */
}

/* Medijski upit za veće ekrane */
@media (min-width: 768px) {
  .container {
    flex-direction: row; /* Prebacuje se na red za veće ekrane */
    align-items: flex-start; /* Poravnava elemente na početku */
  }

  .image {
    flex: 1; /* Daje ovoj sekciji fleksibilnost da zauzima više prostora */
  }

  .text {
    flex: 1; /* Takođe daje ovoj sekciji fleksibilnost */
    padding-left: 20px; /* Razmak između slike i teksta */
  }

  .title {
    font-size: 2.5rem; /* Vraća na veću veličinu fonta za desktop */
    margin-bottom: 2rem; /* Vraća na veći razmak za desktop */
  }
}
