form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  margin-bottom: 10%;
}

/* Stilizacija za inpute i textarea */
input,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Fokusiranje inputa i textarea */
input:focus,
textarea:focus {
  border-color: #4caf50;
  outline: none;
}

/* Stilizacija za label */
label {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  font-weight: bold;
  color: #333;
}

/* Stilizacija za dugme */
button {
  background-color: #ff4500;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

/* Efekat hover na dugmetu */
button:hover {
  background-color: #45a049;
}

/* Prikaz grešaka */
p {
  color: red;
  font-size: 14px;
}

/* Status poruka */
form p {
  font-size: 16px;
  color: #4caf50;
  font-weight: bold;
}

/* Stilizacija za status greške */
form p.error {
  color: #f44336;
}

/* Stilizacija za margine između sekcija forme */
div {
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2.5rem;
  margin: 20px 0;
  color: #ff4500;
  font-family: "Nosifer", cursive;
  text-align: center;
}

/* Responsivni dizajn */
@media (max-width: 768px) {
  form {
    padding: 1rem;
  }
  button {
    font-size: 14px;
  }
}
